li {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin: 15px;
    padding: 10px 10px;
    height: auto;
    background-color: #555555;
    border-bottom: 2px solid #000;
}

.title {
    color: #F55385;
    font-size: xx-large;
    font-weight: bold;
}

.description {
    color: #CCCCCC;
    font-size: medium;
}

.date_time {
    margin-top: 10px;
    color: #CCCCCC;
    font-size: small;
    font-style: italic;
}

.icon {
    margin-left: auto;
    margin-right: 0;
    padding: auto;
    flex-direction: row;
}

ul {
    padding: 20px 35px;
    list-style-type: none;
}
